body {
    font-family: 'Muli', sans-serif;
    min-width: 300px;
}

.jumbotron {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 0 !important;
    background: none !important;
}

.jumbotron h1 {
    font-size: 56px;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 44px;
        font-weight: normal;
    }
}

.nav-link {
    color: #333333 !important;
    font-size: 16px;
}

a:hover {
    color: #0C7A75 !important;
    text-decoration: none;
}

.line-break {
    visibility: visible;
    padding-bottom: 10px;
}

@media (min-width: 1200px) {
    .line-break {
        display: none;
    }
}

.transparent-button {
    font-size: 16px;
    color: #333333;
    border: none;
    background-color: transparent;
    padding: 0 30px 0 30px;
    cursor: pointer;
}

.transparent-button:hover {
    color: #0C7A75;
}

.teal-button {
    width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: #0C7A75;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
}

.cntr {
    margin: 0 auto;
}

.rectangle {
    background-color: #0C7A75;
    height: 31px;
}

@media (max-width: 767px) {
    .rectangle {
        height: 24px;
    }
}

.centered-div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.testimonials-img {
    width: calc(100vw / 6);
    padding: 20px;
}

@media (max-width: 767px) {
    .row .testimonials-img {
        width: calc(100vw / 6);
        padding: 0;
    }

    .testimonials-div {
        width: 50%;
        padding-bottom: 20px;
    }
}

.features-image {
    width: 50%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .center-title {
        padding-top: 1.5rem;
        text-align: center;
    }

    .center-content-sm {
        display: flex;
        text-align: center;
        align-items: center;
    }
}

.steps-img {
    width: 40%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 20px #F2F2F2;
    -webkit-box-shadow: 0 0 20px #F2F2F2;
    box-shadow: 0 0 20px #F2F2F2;
}

@media (min-width: 768px) {
    .steps-img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .steps-img {
        width: 70%;
    }
}

.supported-img {
    width: calc(100vw / 12);
}

@media (max-width: 767px) {
    .supported-img {
        width: calc(100vw / 6);
    }
}

.reasons-padding {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .reasons-padding {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 991px) {
    .reasons-padding {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1200px) {
    .reasons-padding {
        margin-left: 200px;
        margin-right: 200px;
    }
}

.seenon-img {
    width: 50%;
    height: 50%;
}

.speech-bubble {
    position: relative;
    background: #0C7A75;
    border-radius: .2em;
    padding-right: 10px;
    padding-top: 10px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #0C7A75;;
    border-bottom: 0;
    border-left: 0;
    margin-left: -19.5px;
    margin-bottom: -15px;
}

.price-plan {
    width: 100%;
    color: #323232;
}

.annual {
    display: none;
}

.monthly, .annual {
    white-space: nowrap;
    margin: 0 auto;
}

.price {
    font-size: 44px;
    vertical-align: text-top;
    display: block;
    text-align: center;
}

.price:before {
    content: '$';
    font-size: 0.6em;
    vertical-align: text-top;
    padding-right: 0.1em;
}


.price-button {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    /*ch*/
}

@media (max-width: 745px) {
    .price-border {
        border-right: none;
    }
}

@media (min-width: 991px) {
    .price-border {
        border-right: 1px solid #E8E8E8;
    }
}

.popular {
    background-color: #0C7A75;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-right: 1px solid transparent;
    -webkit-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: 68%;
    top: 10%;
}

@media (max-width: 991px) {
    .popular {
        left: 60%;
        top: 20%;
    }
}

.faq-title-padding {
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .faq-title-padding {
        padding-bottom: 50px;
    }
}

.faq-bottom-line {
    padding-top: 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .faq-bottom-line {
        padding-top: 0;
    }
}

.cta-txt {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.44px;
    text-align: center;
    color: white;
}

.cta-btn {
    text-align: center;
    padding-top: 30px;
}

@media (min-width: 991px) {
    .cta-txt {
        text-align: left;
    }

    .cta-btn {
        display: flex;
        align-items: center;
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0;
    }
}

p {
    line-height: 1.6;
}

.grey-bg {
    background-color: #F9F9F9;
}

.teal-bg {
    background-color: #0C7A75;
}

.grey-text {
    color: #818181;
}

.dark-grey-text {
    color: #4A494A;
}

.teal-text {
    color: #0C7A75;
}

.bottom-ul {
    color: #818181;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.bottom-ul li {
    color: #818181;
}

@media (max-width: 767px) {
    .bottom-li {
        display: block;
        padding-left: 10px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .bottom-li {
        display: block;
        padding-left: 30px;
        flex: 0 1 auto;
        list-style-type: none;
        color: #818181;
    }
}

@media (max-width: 767px) {
    .office-img {
        width: 100%;
    }
}

<!--

h1 {
    font-size: 56px;
}

body {
    font-family: 'Muli', sans-serif;
}

.H1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: -0.54px;
    color: black;
}

.lead-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #808080;
}


/*
testimonials
*/
.H4-bold {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.17px;
    color: #808080;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #323232;
    /*ch*/
}


.bold {
    font-weight: 700;
}


.caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}

h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.6px;
    color: #323232;
    /*
checked
*/

}

.pricing-title {
    padding-bottom: 0.5rem;
    /*
    checked
    */
}

@media (min-width: 992px) {
    .pricing-title {
        padding-bottom: 4rem;
    }
    /*
checked
*/

}

.caption-price {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #7E8EA3;
    /*ch*/
}

@media (max-width: 991px) {
    .caption-price {
        padding-top: 40px;
        /*ch*/
    }
}

.caption-price-uppercase {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9A9A9A;
    /*ch*/
}

.plans-include-title {
    padding-top: 70px;
    color: #333333;
}


@media (max-width: 767px) {
    .plans-include-title {
        padding-top: 35px;
    }
}

.plans-li {
    width: 22%;
    min-width: 275px;
    margin: 0 auto;
    display: table;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #4A4A4A;
}

.pricing-bottom-line {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 40px;
    color: #4A4A4A;
}

.paragraph-black {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #808080;
    padding: 0;
    margin: 0;
}

.pricing-text {
    text-align: center;
    color: #4A4A4A;
}

.teal-text {
    color: #0B7A75;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: black;
}


.center-text {
    text-align: center;
}

.paragraph-white {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}





/*h4 bold in FAQ bottom*/
.h4-bold {
    font-weight: 700;
    color: #333333;
}


.section-padding {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

@media (max-width: 767px) {
    .section-padding {
        padding-top: calc(6.25rem / 2);
        padding-bottom: calc(6.25rem / 2);
    }
}